
button{
    width:100px;
    height:20px;
}

#bestellen {
    width:170px;
    height:30px;
}
#bestellen:hover{
background-color: darkred;

}
#bestellungen{
    width:300px;
    position: relative;
    top:0px;
    margin-left: 10px;
    margin-right: 10px;
}
.bestellungen {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 180px;
    
    margin-top: 300px;
    
}
#formdiv{
    position: relative;
    top:0px;
    margin-left: 43%;
    margin-top: 50px;
}




#gesamtPreis{
    position: relative;
    top:200px;
    text-align: center;
    
}
#serverAntwort {
    font-size: 15;
}

@media (max-width:  600px){ 
    #bestellungen{
        float:left;
        margin-left: 200px;
        right:300px;
        width:500px;
        position: relative;
        top:50px;
      
    }
    
    
   
    
   #formdiv form{
       position: relative;
       margin-top: 80px;
        top:0px;
        float:left;
        left:-80px;
  
    
   }
  

}