html {
    font-family: 'Courier New', Courier, monospace;
}
body, html {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("Bilder/background.png");
    font-size: 18px;
    z-index: 1;
    width: 100%;
    left:0px;
}


.task-leiste {
    position: relative;
    color: white;
    background-color: white;
    top:0px;
    left:0px;
    width: 100%;
    height: 4.5em;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    margin-left: 2%;
}
.logo img{
    width: 40px;
    height: 55px;
}
.eingegangene-bestellungen {
    color: black;
}
.warenkorb {
    position: relative;
    display: inline-block; 

    margin-right: 2%;

}
.warenkorb img {
    height:40px;
    width: 40px;
}
#counter{
    position: absolute;
    top: 15px; 
    right: -10px;
    background-color: red; 
    color: white; 
    padding: 3px 6px;
    border-radius: 50%; 
    font-weight: bold; 
    font-size: 14px; 
    line-height: 1; 
    min-width: 20px; 
    text-align: center; 
}
.wallpaper{
    position: relative;
    width: 100%;
}
.wallpaper img {
    width: 100%; /* Das Bild nimmt die volle Breite des übergeordneten Elements ein. */
    height: auto; 
    display: block
}
.wallpaper button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 400px;
    height: 100px;
    border: 3px solid white; /* etwas breiterer Rand für bessere Sichtbarkeit */
    background-color: rgba(0, 0, 0, 0.5); /* leicht transparenter schwarzer Hintergrund */
    color: white;
    padding: 5px 25px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px; /* Ecken abrunden */
    transition: transform 0.3s, background-color 0.3s; /* Übergänge hinzufügen */
    font-family: 'Arial', sans-serif; /* Einheitliche Schriftfamilie, je nach Bedarf anpassen */
    text-transform: uppercase; /* Text in Großbuchstaben umwandeln */
    letter-spacing: 1px; /* Buchstabenabstand leicht erhöhen */
}

/* Hover-Effekt für den Button */
.wallpaper button:hover {
    transform: translate(-50%, -50%) scale(1.05); /* Vergrößert den Button leicht beim Überfahren */
    background-color: rgba(0, 0, 0, 0.6); /* erhöht die Opazität leicht */
}


h1{
    color: black;
    z-index: 3;
}
.wrapper{
    margin-top: 6%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#titel{
    margin-bottom: 3%;
    text-align: center;
}
#beschreibung {
    text-align: center;
}
.eigenschaften {
    margin-top: 8em;;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.eigenschaften-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-right: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
   
}
.eigenschaften-item img{
    width: 50px;
    height: 50px;
}

#hausgemachtBeschreibung {
    margin-top: -2%;
    text-align: center;
}
#taeglichFrischBeschreibung {
    margin-top: -2%;
    text-align: center;
}
#umweltschonendBeschreibung{
    margin-top: -2%;
    text-align: center;
}
#eis-erstellen-titel{
    margin-top: 4em;
    text-align: center;
}
#eis-erstellen-beschreibung {
    text-align: center;
    margin-bottom: 3em;
}
#notizblock {
    max-width: 700px;
    max-height: 600px;

}
a{
    color: black;
    text-decoration: none
}
#eis-bild{
    width: 35%;
}
#eis-bild img{
    width: 50px;
    height:50px;
    border-radius: 8px;  /* Sanft abgerundete Ecken. */

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);  /* Ein leichter Schatten für ein wenig Tiefe. */

}
.artikel{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.artikel-button{
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0.5rem 1rem;
    background-color: #4CAF50;  /* Ein nettes Grün. */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.artikel-button:hover {
    background-color: #45A049;
}
.artikel-button:active {
    transform: scale(0.95);
}
.artikel-button-auswahl{
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0.5rem 1rem;
    background-color: #4CAF50;  /* Ein nettes Grün. */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.artikel-button-auswahl:hover {
    background-color: #45A049;
}
.artikel-button-auswahl:active {
    transform: scale(0.95);
}
.artikel-button-auswahl-loeschen{
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0.5rem 1rem;
    background-color: #d9534f;  /* Ein nettes Grün. */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.artikel-button-auswahl:hover {
    background-color: #45A049;
}
.artikel-button-auswahl:active {
    transform: scale(0.95);
}


.artikel-auswahl {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
#rechnung{
    position: relative; 

}
.details {
    position: relative;
    background-size: cover; /* Damit sich das Bild an die Größe des .details-Containers anpasst */
    padding: 20px 40px; /* Abstand im Inneren des Containers, um Text von den Rändern fernzuhalten */
    border-radius: 5px; /* Abrundung der Ecken */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Ein leichter Schatten, um den Eindruck von Tiefe zu erwecken */
    font-family: 'Courier New', Courier, monospace; /* Eine schreibmaschinenähnliche Schriftart, um das Notizblockgefühl zu erwecken */
    max-width: 400px; /* oder was auch immer benötigt wird */
    margin: 0 auto; /* Zentriert den Block, wenn er in einem größeren Container liegt */
    line-height: 1.5; /* Stellt sicher, dass der Text nicht zu eng zusammenliegt */
}
.details p {
    margin-bottom: 10px; /* Abstand zwischen den Absätzen */
}

.details p b {
    color: #333; /* Dunkelgrau für einen weicheren Kontrast */
}

/* Preisstil - größer und prominenter */
#preis {
    font-size: 1.5em;
    margin-top: 20px;
}
#eis-generator {
    display:flex;
    flex-direction: column-reverse;
    z-index: 11;
  
}
#waffel{
    position: relative;
    width:200px;
    height:250px;

}

#kugel{
    position: relative;
    width:120px;
    top: 90px;
    left:35px; 
    margin-top: -45px;
   
   
}
#streußel{
    position: relative;
    top: 90px;
    left:40px; 
     width:100px;
     height:100px;
}
#restliches{
    position: relative;
    top:15px;
    left:5px;
    width:180px;
    height:180px;
}
.bild-generator-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
@media (max-width:850px){
    #notizblock {
        width: 300px;
        height: 400px;

    }
    .details {
        width: 60%;
        top: 50px; /* Anpassen, je nachdem, wo Sie es haben möchten */
        left: 50px; /* Anpassen, je nachdem, wo Sie es haben möchten */
    }
    #eis-erstellen-beschreibung {
        margin-bottom: 2em;
    }
    #eis-erstellen-titel{
        margin-top: 2em;
    }
    .eigenschaften {
        margin-top: 4em;;
    
    }
    .wallpaper button{
        width:200px;
        height:80px;
    }
    .warenkorb {
        margin-right: 5%;
    }
    .logo{
        margin-left: 5%;
    }
    .eigenschaften-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-right: 2em;
        margin-left: 2em;
        margin-bottom: 2em;
       
    }
    .wrapper{
        width: 70%;
    }
    #titel{
        margin-top: 2em;
        margin-bottom: 6%;
    }

}