html{
    background-image: url(Bilder/background.png);
    font-family: 'Courier New', Courier, monospace;
    
    
}
#wrapper{
    width:100%;
max-width: 60%;
margin: 0 auto;

}
#counter{
    float:right;
    position: relative;
    top:38px;
    left:43px;
}
#logo{
    width:40px;
    position: relative;
    height:60px;
    top:20px;
    float: left;
    margin-left: 100px;
    
}
.navigation img{
    width:30px;
    height:30px;
    float: right;
    margin-right: 100px;
    position: relative;
    top:30px;

}
#meinebestellungen{
    font-family: sans-serif;
    position: relative;
    top:30px;
    font-size: 13px;
    float: right;
    margin-right: 100px;
}

#eingeganebestellungen{
    font-family: sans-serif;
    position: relative;
    top:30px;
    font-size: 13px;
    float: right;
    margin-right: 30px; 
}

header{
    height:100px;
    background-color:white;
    width: 100%;
    position:fixed;
    left:0px;
    top:0px;
    z-index: 2;
}
#wallpaper{
    background-image: url(Bilder/wallpaper.jpg);
    position:absolute;
    top:100px;
    width:100%;
    left:0px;
    height:950px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
#startlink{
    position: relative;
    width:300px;
    height:50px;
    top:800px;
    display: block;
  margin-left: auto;
  margin-right: auto;
    border: 2px solid black;
    background-color: transparent;
    color: white;
    padding: 5px 25px;
    font-size: 20px;
    cursor: pointer;
    border-color: white;
    
}
#startlink a{
    color: white;
}
#startlink:hover{
    background-color: darkred;
    
}
#titel{
    color:black;
    position: relative;
    top:1200px;
    font-size: 40px;
  text-align: center;
}
#titel2{
    color:black;
    position: relative;
    top:200px;
    font-size: 40px;
  text-align: center;
}
.titeleiserstellen{
    position: relative;
    top:1400px;
    left:30%;  
}
#maximaleanzahl {
    position: relative;
    top:-850px;
    left:150px;
}



#beschreibung{
    position: relative;
    top:1150px;
    font-size:17px;
  margin-left: auto;
  margin-right: auto;
}

.bilder{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}


.bilder img{
    margin-right: 80px;
    margin-left:80px;
    margin-top: 100px;
    position: relative;
    top:1250px;
    width:140px;
    height:140px;
}
.inhalt{
    margin-top: 200px;
}



.hausgemacht h3{
    position: relative;
    top:1270px;
    margin-left: 80px;
    margin-right: 80px;
}
.hausgemacht p{
    font-size: 14px;
    max-width:200px;
    position: relative;
    top:1280px;
    margin-left: 80px;
    margin-right: 80px;
}
.eisgenerieren{
    position: relative;
    top:1400px;
    margin-left: 250px;
    float: right;
    
    
}
a{
    text-decoration: none;
    color: black;
}



#notizblock{
    position: relative;
    float:left;
    top:1250px;
    
  margin-left:200px;
  margin-right: 200px;
    width:600px;
    height:500px;
    
    
}
#schokokugel{
    width:100px;
    position: relative;
    margin-top: -45px;
    left:-190px;
    top:-170px;
    z-index: 2;
   
   
}
#eisbild{
    position: relative;
    display:flex;
    top:1800px;
    left:200px;
    float:left;
    flex-direction: column-reverse;
}

#waffel{
    position: relative;
   margin-top: -700px;
    width:150px;
    height:200px;
    top:-60px;
    left:-215px;
}

#streußel{
    position: relative;
    margin-top: -100px;
     width:100px;
     height:100px;
     top:-170px;
     left:-180px;
     z-index: 3;
}

#restliches{
    position: relative;
    width:180px;
    height:180px;
    top:-70px;
    left:-230px;
    margin-top: -700px;
}


.bestellung{
    position: relative;
    top:1600px;
    float:left;
    left:390px;
    width:280px;
    z-index: 1;
    font-size: 15px;
}
.inhalt button{
    width:20px;
    height:20px;
}


@media (max-width:  600px){ /*Smartphone*/

    #form{
        position: relative;
        top:2600px;
        float:left;
        left:250px;
       
    }

    .bestellung{
        position: absolute;
        top:3000px;
        left:500px;
        z-index: 5;
    }

    #notizblock{
        position: relative;
        float:left;
        top:1250px;
        
        margin-left:0px;
        width:400px;
        height:300px;    
    }
    .bestellung{
        position: relative;
        top:1500px;
        float:left;
        left:130px;
        width:180px;
        z-index: 1;
        font-size: 10px;
    }
    #waffel{
        position: relative;
       margin-top: -700px;
        width:150px;
        height:200px;
        top:-700px;
        left:-215px;
    }
    #streußel{
        position: relative;
        
         width:100px;
         height:100px;
         top:-800px;
         left:-180px;
         z-index: 3;
    }
    
    #restliches{
        position: relative;
        width:180px;
        height:180px;
        top:-500px;
        left:-230px;
        margin-top: -700px;
    }
    #schokokugel{
        width:100px;
        position: relative;
        margin-top: -45px;
        left:-190px;
        top:-810px;
        z-index: 2;
       
    }
    
    
    #eingeganebestellungen{
        font-family: sans-serif;
        position: relative;
        top:10px;
        font-size: 13px;
        float: right;
        margin-right: 30px; 
    }
}
@media (min-width:600px) and (max-width:1700px){
    #waffel{
        position: relative;
       margin-top: -700px;
        width:150px;
        height:200px;
        top:-500px;
        left:-215px;
    }
    #streußel{
        position: relative;
        
         width:100px;
         height:100px;
         top:-600px;
         left:-180px;
         z-index: 3;
    }
    
    #restliches{
        position: relative;
        width:180px;
        height:180px;
        top:-520px;
        left:-230px;
        margin-top: -700px;
    }
    #schokokugel{
        width:100px;
        position: relative;
        margin-top: -45px;
        left:-190px;
        top:-610px;
        z-index: 2;
       
    }
}


