
div>img{
    height: 200px;
    width: 200px;
    margin-top: 30px;
    
}

body {
    font-family: sans-serif;

}
header{
    position: absolute;
    background-color: skyblue;
    height: 90px;
    top:0px;
    left:0px;
    width:100%;
}
img[alt="einkaufswagen"]{
    height: 30px;
    top: 30px;
    right: 40px;    
    position: absolute;
}
img[src="ball.png"]{
    height: 70px;
    width: 70px;
    left:40px;
    position: absolute;
    top: 10px;
}
img[alt="wallpaper"]{
    height: 100%;
    width: 100%;
    top: 90px;
    right: 0px;    
    position: absolute;
}

#kleidungüberschrift{
 text-align: center;
 font-size: 32px;
 margin-top: 30px;

}

h2+p{
    font-size: 10px;
    margin-left: 50px;
}
img~h2{
    font-size: 17px;
    margin-top: 10px;
    margin-left: 50px;
}

.Preis{
    font-style: italic;
    font-size: 12px;
    width: 50px;
    margin-left: 50px;
}



main {
    margin-top: 670px;
    margin-left: 10px;
    display: flex;   
    flex-direction: column;

}
main>div {
        
    display: flex;
    flex-wrap: wrap;
}
main div div{
    width: 200px;
    margin: 20px;

}


h1{
    font-size: 45px;
    text-align: center;
    margin-top: 15px;
    
}

#kleidung{
position: absolute;
left:150px;
top:30px;
padding: 10px;
text-decoration: none;
color:white;
}
#equipment{
    position: absolute;
    left:230px;
    top:30px;
    padding: 10px;
    text-decoration: none;
    color:white;
}
#equipmentüberschrift{
    margin-top: 100px;
    font-size: 32px;
    text-align: center;
}









@media (max-width:  1024px){ 

    

    main>div {
        margin-left: 50px;
        margin-right: 50px;
        
    }

    h2{
        text-align: center;
    }
   
   }
   #kleidung{
    position: absolute;
    left:40%;
    top:55px;
    padding: 10px;
    text-decoration: none;
    color:white;
    }
    #equipment{
        position: absolute;
        left:53%;
        top:55px;
        padding: 10px;
        text-decoration: none;
        color:white;
    }
   


@media (max-width:  600px){ 

 main div div{
    margin: 0px;
    margin-bottom: 20px;
}
main  div{
    margin: 0px;
   
}
h2{
    text-align: center;
}
h1{
    font-size: 28px;
}
#kleidung{
    position: absolute;
    left:30%;
    top:50px;
    padding: 10px;
    text-decoration: none;
    color:white;
    }
    #equipment{
        position: absolute;
        left:60%;
        top:50px;
        padding: 10px;
        text-decoration: none;
        color:white;
    }

img[src="ball.png"]{
    height: 40px;
    width: 40px;
}

}