body{
    text-align: center;
    background-color: rgb(240, 200, 148);
}
h1{
    text-align: center;
}
.shippinginfo p{
    margin-top: -20px;
}


header{
    height:80px;
    background: white;  
    width:100%;
    position:absolute;
    left:0px;
    top:20px;
}

.wrapper{
    width:100%;
    max-width: 80%;
    margin: 0 auto;
}
.wrapper2{
    width:100%;
    max-width: 85%;
    margin: 0 auto;
}


.logo img{
    max-width: 4%;
    float:left;
    margin-top: -60px;
}
nav{
    float:right;
    font-size: 22px;
    color:white;
    margin-top: -50px;
   
   
}
nav img{
    width:25px;
    height:25px;
}
nav > a{
text-decoration: none;
color:black;
margin: 0px;
font-size: 100%;
letter-spacing: 2px;
margin-right: 10px;

}

.wallpaper{
    width:100%;
    left:0px;
    height:700px;
    background-image: url(wallpaper.jpg);
    position: absolute;
    top:100px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.inhalt h2{
    color:black;
    font-size: 22px;
    letter-spacing: 2px;
    margin-top: 900px;
    text-align: center;
   
}
.inhalt img{
    width:200px;

    height:200px;
}
.Kleidung{
    margin-top: 80px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.Equipment{
    margin-top: 80px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.Artikel{
    margin-left: 100px;
    margin-top:60px;
}

#Equipmentlink{
    color:black;
    font-size: 22px;
    letter-spacing: 2px;
    margin-top: 80px;
    text-align: center;
}

@media (max-width:  600px){ /*Smartphone*/
    .logo img{
     max-width: 10%;
     margin-top:-10%;
     float:left;
    }
h1{
    font-size: 25px;
}
nav{
    position: relative;
    top:38px;
    width:100%;
   
    color: ivory;
    font-size: 110%;
    
}
}

@media (min-width:600px) and (max-width:1024px){ /*Tablet*/
    .logo img{
        max-width: 5%;
     margin-top: -5%;
    }
h1{
    font-size: 25px;
}
nav{
    position: absolute;
    top:100px;
    width:80%;
    left:auto;
    right:auto;
   
    color: ivory;
    font-size: 110%;
    
}
}